@charset "UTF-8";
.goods-d-container {
    height: 100vh;
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    background-color: white;
}
.goods-d-title {
	height: 10%;
}
.goods-d-main {
	display: flex;
    height: 90%;
}
.goods-d-main-left {
	display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}
.goods-buy-container {
	height: 50%;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 10px 0 10px;
    background-color: #ccc
}
.goods-buy-howmany-container {
	display: flex;
    justify-content: space-between;
}
.goods-result-container {
	display: flex;
    justify-content: space-between;
}
.goods-d-main-right {
	display: flex;
	width: 50%;
	height: 100%;
}
.bx-wrapper {
	max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}