@charset "UTF-8";

/* 선택한 날짜의 스타일 */
.selected-day {
  background-color: #3788d8; /* 선택한 날짜의 배경색을 파란색으로 설정 */
  color: white; /* 선택한 날짜의 텍스트 색상 설정 (예: 흰색) */
   }
   
.fc-daygrid-dot-event{
	flex-direction: column
}

.fc-event-time, .fc-event-title{
	display: none;
}

.fc-daygrid-day-top {
	height: 15px;
}

.fc-daygrid-event-dot {
	border : none;
	width: 25px;
	height: 20px;
	background-color: #7bd8ef;
}

.fc-toolbar-chunk button {
	display: none;
}

.fc-daygrid-day-number {
	font-size : 13px;
	color : rgb(188,188,188);
}

.fc-col-header-cell-cushion {
	color : rgb(224,230,234);
} 

.fc .fc-toolbar-title {
	font-size: 1.2em;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1em;
}
   
.fc-header-toolbar > .fc-toolbar-chunk:last-child > button {
	display: none;
}

.fc .fc-button {
	padding: 0.1em 0.3em;
}

.fc .fc-button-primary {
	background-color: #b9e0ef;
	border-color: #b9e0ef;
}