@charset "UTF-8";


/* 전체 페이지 스타일 */
body {
    background-image: url('../../images/user/배경.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

tr {
	height: 55px;
}

th {
	height: 55px;
}

/* 컨테이너 스타일 */
.container {
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    padding-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 800px;
}

.mini-container {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 70px;
}

/* 마이페이지 헤더부분 스타일 */
#mypage-header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}

/* 프로필 이미지 스타일 */
#profile-div {
    width: 110px; /* 프로필 이미지 크기 조정 */
    height: 110px; /* 프로필 이미지 크기 조정 */
    background-color: rgb(255, 255, 255);
    border-radius: 50%; /* 원 모양으로 만들기 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    margin-top: 28px;
}

#profile-div img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지를 원에 맞게 조정 */
}
#modify-btn-div {
	position: absolute;
    bottom: 8px;
    left: 80px;
}

/* 회원정보 조회/수정버튼 스타일 */
#modify-btn {
    width: 40px;
    height: 40px;
}

#modify-btn:hover {
    transform: rotate( 360deg );
    transition: 1.5s;
}

/* 팔로우 버튼 스타일 */
#follow-btn {
    background-color: #56d3ee;
    color: #fff;
    border: none;
    padding: 10px 0;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
    width: 129px;
    margin-top: 10px;
}

/* 닉네임 스타일 */
#nickname {
    font-size: 25px;
    text-align: left;
    font-weight: 700;
    margin-bottom: 7px;
}

/* 사용자 정보 스타일 (구독/구독자) */
#userInfo-div {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-top: 55px;
}

#uiInfo-div {
    width: 65%;
    height: 100%;
}


/* ui정보 스타일 */
#uiInfo-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ui-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.ui-icon {
    width: 40px;
    margin-bottom: 5px;
}

.ui-text {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

/* 신고하기 스타일 */
 /* 신고 아이콘 스타일 */
 #dot {
    position: absolute;
    top: -42px;
    right: -192px;
    cursor: pointer;
}

/* 신고 양식 스타일 */
#report-div {
    position: absolute;
    top: -3px;
    right: -170px;
    display: none;
    width: 90px;
    height: 50px;
    background-color: #719bb7;
    border: 1px solid #719bb7;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
    padding: 10px;
    cursor: pointer;
}

#report-img-div {
    text-align: center;
}

#report-img {
    width: 40px;
}

#report-text {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 0;
}

/* 파란 물결, 오늘의 챌린지 스타일 */
#chal {
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
    border: 2px solid #ebebeb;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#blue-wave {
    width: 45%;
    height: 100%;
    padding: 25px;
}

#todo-chal {
    width: 55%;
    height: 100%;
    padding: 25px;
}

/* 오늘의 챌린지 스타일 */
#todo-title {
    letter-spacing: 4px;
    font-size: 18px;
    font-weight: 600;
    color: #212529;
}

hr {
    color: #4e4e4e;
}
#todo-chal tr, td {
    color: #212529;
}
#todo-chal td {
    text-align: left;
}

#c-list-none {
	height: 283px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFD3E2;
    font-size: 1.5em;
}

/* 프로그레스바 스타일 */
#progress {
    appearance: none;
}
#progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #ccc;
}
#progress::-webkit-progress-value {
    border-radius:10px;
    background: #58bdf7;
    background: -webkit-linear-gradient(to right, #bbedfd, #00cafb);
    background: linear-gradient(to right, #bbedfd, #00cafb);
}

#percent-text {
    font-size: 12px;
    color: #6fbfee;
    text-align: center;
    margin: 5px;
}
#zero-percent-text {
	font-size: 15px;
	font-weight:600px;
    text-align: center;
    letter-spacing: 8px;
    color: gainsboro;
}
/* 굿즈 목록 스타일 */
#list-count {
    text-align: left;
    margin-top: 40px;
}

/* 슬라이드 스타일 */
.slide {
    flex: 0 0 auto;
    width: 170px; /* 이미지 너비 조정 */
    height: auto;
    margin-right: 20px; /* 이미지 간격 수정 */
    position: relative;
    flex-shrink: 0; /* 슬라이드 크기 고정 */
    border-radius: 15px;
    box-sizing: border-box; /* 박스 모델 설정 */
    padding: 10px;
    background-color: #fff; /* 배경 색상 추가 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    /* 호버 효과 추가 */
    transition: transform 0.2s ease;
}

/* 이미지 호버 시 굿즈 이름 표시 */
.slide:hover {
    transform: scale(1.05); /* 이미지를 약간 확대 */
}

.goods-name-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(183, 183, 183, 0.5);
    color: #fff;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 0 0 5px 5px;
    /* 초기에 숨김 상태로 설정 */
    opacity: 0;
    pointer-events: none; /* 호버 효과 시에만 이벤트 활성화 */
    transition: opacity 0.3s;
}

/* 호버 시 굿즈 이름 표시 */
.slide:hover .goods-name-overlay {
    opacity: 1; /* 굿즈 이름 표시 */
}

.bx-wrapper {
    box-shadow: none !important;
}



