<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CBoardMapper">

	<resultMap type="CBoard" id="cBoardResultMap">
		<id property="cBoardNo" 				column="C_BOARD_NO"/>
		<result property="cBoardTitle" 			column="C_BOARD_TITLE"/>
		<result property="cBoardContent" 		column="C_BOARD_CONTENT"/>
		<result property="cBoardFileName" 		column="C_BOARD_FILE_NAME"/>
		<result property="cBoardFileRename" 	column="C_BOARD_FILE_RENAME"/>
		<result property="cBoardFilePath" 		column="C_BOARD_FILE_PATH"/>
		<result property="cBoardFileLength" 	column="C_BOARD_FILE_LENGTH"/>
		<result property="cBoardDate" 			column="C_BOARD_DATE"/>
		<result property="cBoardUpdateDate" 	column="C_BOARD_UPDATE_DATE"/>
		<result property="cBoardWriter" 		column="C_BOARD_WRITER"/>
		<result property="chalNo" 				column="CHAL_NO"/>
	</resultMap>
	
		<!-- 마지막에 20 대신 #{chalNo} -->
	<insert id="insertCBoard">
		INSERT INTO CHAL_BOARD_TBL VALUES(SEQ_C_BOARD_NO.NEXTVAL, #{cBoardTitle}, #{cBoardContent},
		#{cBoardFileName}, #{cBoardFileRename}, #{cBoardFilePath}, #{cBoardFileLength}, DEFAULT, DEFAULT, 'testuser01', 20) 
	</insert>
	
	<select id="selectCBoardByNo" resultMap="cBoardResultMap">
		SELECT * FROM CHAL_BOARD_TBL WHERE CHAL_NO = #{chalNo}
	</select>
	
	<select id="selectAllLikePostsById" resultMap="cBoardResultMap">
		SELECT * 
		  FROM CHAL_BOARD_TBL
		 WHERE C_BOARD_NO IN (SELECT C_BOARD_NO
		 						FROM CHAL_LIKE_TBL
		 					   WHERE USER_ID = #{ userId })
	</select>
	
	<select id="getPostCountByUserId" resultType="_int" >
		SELECT COUNT(*)
		FROM CHAL_BOARD_TBL CB
		LEFT JOIN USER_TBL U ON CB.C_BOARD_WRITER = U.USER_ID
		WHERE U.USER_ID = #{userId }
	</select>
	
	<select id="getTotalBlueChalCount" resultType="_int">
		SELECT DISTINCT COUNT(*)
		FROM CHAL_BOARD_TBL CB
		INNER JOIN CHAL_TBL C ON CB.CHAL_NO = C.CHAL_NO
		WHERE C.CHAL_USER_ID = 'admin'
		AND CB.C_BOARD_WRITER = #{userId }
	</select>
	
		<select id="getTotalPersonalChalCount" resultType="_int">
		SELECT DISTINCT COUNT(*)
		FROM CHAL_BOARD_TBL CB
		INNER JOIN CHAL_TBL C ON CB.CHAL_NO = C.CHAL_NO
		WHERE C.CHAL_USER_ID != 'admin'
		AND CB.C_BOARD_WRITER = #{userId }
	</select>
	
	<select id="getFinishTotalBlueChalCount" resultType="_int" >
		SELECT DISTINCT COUNT(*)
		FROM CHAL_BOARD_TBL CB
		INNER JOIN CHAL_TBL C ON CB.CHAL_NO = C.CHAL_NO
		WHERE C.CHAL_USER_ID = 'admin'
		AND CB.C_BOARD_WRITER = #{userId }
        AND C.CHAL_FINISH = 'Y'
	</select>
	
	<select id="getFinishTotalPersonalChalCount" resultType="_int" >
		SELECT COUNT(*) FROM CHAL_TBL 
        WHERE CHAL_USER_ID = #{userId }
        AND CHAL_FINISH = 'Y'
	</select>
	
<select id="getCalDateList" resultType="java.util.Map">
    SELECT DISTINCT EXTRACT(YEAR FROM C_BOARD_DATE) AS year,
           EXTRACT(MONTH FROM C_BOARD_DATE) AS month,
           EXTRACT(DAY FROM C_BOARD_DATE) AS day
    FROM CHAL_BOARD_TBL
    WHERE C_BOARD_WRITER = #{userId }
</select>
	
</mapper>