<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ChalMapper">

	<resultMap type="Challenge" id="chalResultMap">
		<id		property="chalNo"  			 column="CHAL_NO"/>
		<result property="chalTitle"  		 column="CHAL_TITLE"/>
		<result property="chalContent"  	 column="CHAL_CONTENT"/>
		<result property="chalFileName"   	 column="CHAL_FILE_NAME"/>
		<result property="chalFileRename"    column="CHAL_FILE_RENAME"/>
		<result property="chalFilePath"    	 column="CHAL_FILE_PATH"/>
		<result property="chalFileLength"    column="CHAL_FILE_LENGTH"/>
		<result property="chalStartDate"  	 column="CHAL_START_DATE"/>
		<result property="chalEndDate"   	 column="CHAL_END_DATE"/>
		<result property="chalPublic"		 column="CHAL_PUBLIC"/>
		<result property="chalFinish" 		 column="CHAL_FINISH"/>
		<result property="chalCreateDate"    column="CHAL_CREATE_DATE"/>
		<result property="chalUpdateDate"    column="CHAL_UPDATE_DATE"/>
		<result property="chalUserId"    	 column="CHAL_USER_ID"/>
		<result property="likeCount" 		 column="LIKE_CNT" />
		<result property="pplCount" 		 column="PEOPLE_CNT" />
		<result property="postCount" 		 column="POST_CNT" />
	</resultMap>
	
	<insert id="insertChal">
		INSERT INTO CHAL_TBL VALUES(SEQ_CHAL_NO.NEXTVAL, #{ chalTitle }, #{ chalContent }, #{ chalFileName }, #{ chalFileRename }, #{ chalFilePath }, #{ chalFileLength }, #{ chalStartDate }, #{ chalEndDate }, #{ chalPublic }, DEFAULT, DEFAULT, DEFAULT, #{ chalUserId })
	</insert>
	
	<update id="updateChal">
		UPDATE CHAL_TBL SET CHAL_CONTENT = #{ chalContent }, CHAL_PUBLIC = #{ chalPublic }, CHAL_FILE_NAME = #{ chalFileName }, CHAL_FILE_RENAME = #{ chalFileRename }, CHAL_FILE_PATH = #{ chalFilePath }, CHAL_FILE_LENGTH = #{ chalFileLength }, CHAL_UPDATE_DATE = DEFAULT WHERE CHAL_NO = #{ chalNo } 
	</update>
	
	<update id="updateFinish">
		<![CDATA[
			UPDATE CHAL_TBL SET CHAL_FINISH = 'Y', CHAL_UPDATE_DATE = DEFAULT WHERE CHAL_END_DATE < SYSDATE		
		]]>
	</update>
	
	<delete id="deleteChal">
		DELETE FROM CHAL_TBL WHERE CHAL_NO = #{ chalNo }
	</delete>
	
	<select id="selectOneByNo" resultMap="chalResultMap">
		SELECT * FROM CHAL_TBL WHERE CHAL_NO = #{ chalNo }
	</select>
	
	<select id="selectOneByTitle" resultMap="chalResultMap">
		SELECT * FROM CHAL_TBL WHERE CHAL_TITLE = #{ chalTitle }
	</select>
	
	<select id="selectAllById" resultMap="chalResultMap">
		SELECT * FROM CHAL_TBL WHERE CHAL_USER_ID = #{ userId }
	</select>
	
	<select id="selectAllUserWave" resultMap="chalResultMap">
		SELECT DISTINCT A.* 
		  FROM CHAL_TBL A 
		  JOIN CHAL_BOARD_TBL B 
		    ON B.C_BOARD_WRITER = #{ userId }
		 WHERE A.CHAL_USER_ID = 'admin' 
		   AND A.CHAL_NO = B.CHAL_NO
	</select>
	
	<select id="selectLikeById" resultMap="chalResultMap">
		SELECT A.*
			 , (SELECT COUNT(*) 
			 	  FROM CHAL_LIKE_TBL 
			 	 WHERE C_BOARD_NO IN (SELECT B.C_BOARD_NO 
			 	 						FROM CHAL_BOARD_TBL B 
			 	 					   WHERE B.CHAL_NO = A.CHAL_NO)) AS LIKE_CNT
		 FROM CHAL_TBL A
		WHERE CHAL_USER_ID = #{ userId }
	</select>
	
	<select id="selectLikeByAllUserWave" resultMap="chalResultMap">
		SELECT DISTINCT A.*
			 , SUM(CASE WHEN C.C_BOARD_NO IS NOT NULL THEN 1 ELSE 0 END) OVER(PARTITION BY A.CHAL_NO) AS LIKE_CNT
		  FROM CHAL_TBL A 
		     , CHAL_BOARD_TBL B 
  		     , CHAL_LIKE_TBL C
		 WHERE A.CHAL_USER_ID = 'admin' 
		   AND A.CHAL_NO = B.CHAL_NO
		   AND B.C_BOARD_WRITER = #{ userId }
           AND B.C_BOARD_NO = C.C_BOARD_NO (+)
	</select>
	
	<select id="selectPeopleByAllUserWave" resultMap="chalResultMap">
		SELECT A.CHAL_NO
		     , COUNT(DISTINCT B.C_BOARD_WRITER) AS PEOPLE_CNT
		  FROM CHAL_TBL A
		  	 , CHAL_BOARD_TBL B
		 WHERE A.CHAL_USER_ID = 'admin' 
		   AND A.CHAL_NO = B.CHAL_NO
      GROUP BY A.CHAL_NO
	</select>
	
	<select id="selectPostsById" resultMap="chalResultMap">
		SELECT A.CHAL_NO
		     , COUNT(B.C_BOARD_WRITER) AS POST_CNT
		  FROM CHAL_TBL A
		  	 , CHAL_BOARD_TBL B
		 WHERE B.C_BOARD_WRITER = #{ userId } 
		   AND A.CHAL_NO = B.CHAL_NO
      GROUP BY A.CHAL_NO
	</select>
	
	<select id="selectOptionsByFinish" resultMap="chalResultMap">
		SELECT * FROM CHAL_TBL
		<if test="wavefinishOption == 'all'">
			WHERE CHAL_FINISH IN('Y', 'N') 
		</if>
		<if test="wavefinishOption eq 'Y'.toString()">
			WHERE CHAL_FINISH LIKE 'Y'
		</if>
		<if test="wavefinishOption eq 'N'.toString()">
			WHERE CHAL_FINISH LIKE 'N'
		</if>
		ORDER BY CHAL_CREATE_DATE DESC
	</select>
	
	<select id="selectAllChallenges" resultMap="chalResultMap">
		SELECT * FROM CHAL_TBL WHERE CHAL_PUBLIC = 'Y'
	</select>
</mapper>