<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ChalMapper">

	<resultMap type="Challenge" id="chalResultMap">
		<id		property="chalNo"  			 column="CHAL_NO"/>
		<result property="chalTitle"  		 column="CHAL_TITLE"/>
		<result property="chalContent"  	 column="CHAL_CONTENT"/>
		<result property="chalFileName"   	 column="CHAL_FILE_NAME"/>
		<result property="chalFileRename"    column="CHAL_FILE_RENAME"/>
		<result property="chalFilePath"    	 column="CHAL_FILE_PATH"/>
		<result property="chalFileLength"    column="CHAL_FILE_LENGTH"/>
		<result property="chalStartDate"  	 column="CHAL_START_DATE"/>
		<result property="chalEndDate"   	 column="CHAL_END_DATE"/>
		<result property="chalPublic"		 column="CHAL_PUBLIC"/>
		<result property="chalFinish" 		 column="CHAL_FINISH"/>
		<result property="chalCreateDate"    column="CHAL_CREATE_DATE"/>
		<result property="chalUpdateDate"    column="CHAL_UPDATE_DATE"/>
		<result property="chalUserId"    	 column="CHAL_USER_ID"/>
	</resultMap>
	
	<insert id="insertChal">
		INSERT INTO CHAL_TBL VALUES(SEQ_CHAL_NO.NEXTVAL, #{ chalTitle }, #{ chalContent }, #{ chalFileName }, #{ chalFileRename }, #{ chalFilePath }, #{ chalFileLength }, #{ chalStartDate }, #{ chalEndDate }, #{ chalPublic }, DEFAULT, DEFAULT, DEFAULT, #{ chalUserId })
	</insert>
	
	<update id="updateChal">
		UPDATE CHAL_TBL SET CHAL_CONTENT = #{ chalContent }, CHAL_PUBLIC = #{ chalPublic }, CHAL_FILE_NAME = #{ chalFileName }, CHAL_FILE_RENAME = #{ chalFileRename }, CHAL_FILE_PATH = #{ chalFilePath }, CHAL_FILE_LENGTH = #{ chalFileLength }, CHAL_UPDATE_DATE = DEFAULT WHERE CHAL_NO = #{ chalNo } 
	</update>
	
	<delete id="deleteChal">
		DELETE FROM CHAL_TBL WHERE CHAL_NO = #{ chalNo }
	</delete>
	
	<select id="selectOneByNo" resultMap="chalResultMap">
		SELECT * FROM CHAL_TBL WHERE CHAL_NO = #{ chalNo }
	</select>
	
	<select id="selectOneByTitle" resultMap="chalResultMap">
		SELECT * FROM CHAL_TBL WHERE CHAL_TITLE = #{ chalTitle }
	</select>
	
	<select id="selectAllById" resultMap="chalResultMap">
		SELECT * FROM CHAL_TBL WHERE CHAL_USER_ID = #{ userId }
	</select>
	
	<select id="selectOptionsByFinish" resultMap="chalResultMap">
		SELECT * FROM CHAL_TBL
		<if test="finishOption == 'all'">
			WHERE CHAL_FINISH IN('Y', 'N') 
		</if>
		<if test="finishOption eq 'Y'.toString()">
			WHERE CHAL_FINISH LIKE 'Y'
		</if>
		<if test="finishOption eq 'N'.toString()">
			WHERE CHAL_FINISH LIKE 'N'
		</if>
		ORDER BY CHAL_CREATE_DATE DESC
	</select>
</mapper>