<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsMapper">
	<resultMap type="Goods" id="goodsResultMap">
		<id property="productNo" column="PRODUCT_NO"/>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="productPoint" column="PRODUCT_POINT"/>
		<result property="productContent" column="PRODUCT_CONTENT"/>
		<result property="productThumbnail" column="PRODUCT_THUMBNAIL"/>
		<result property="productThumbnailRename" column="PRODUCT_THUMBNAIL_RENAME"/>
		<result property="productThumbnailPath" column="PRODUCT_THUMBNAIL_PATH"/>
		<result property="productThumbnailLength" column="PRODUCT_THUMBNAIL_LENGTH"/>
		<result property="productImage" column="PRODUCT_IMAGE"/>
		<result property="productImageRename" column="PRODUCT_IMAGE_RENAME"/>
		<result property="productImagePath" column="PRODUCT_IMAGE_PATH"/>
		<result property="productImageLength" column="PRODUCT_IMAGE_LENGTH"/>
		<result property="productCount" column="PRODUCT_COUNT"/>
	</resultMap>
	
	<insert id="insertGoods">
		INSERT INTO GOODS_TBL VALUES(SEQ_PRODUCT_NO.NEXTVAL, #{productName}, #{productPoint }, #{productContent }, #{productThumbnail }, #{productThumbnailRename}, #{productThumbnailPath }, #{productThumbnailLength }, #{productImage }, #{productImageRename}, #{productImagePath }, #{productImageLength }, #{productCount })
	</insert>
	
	<update id="modifyGoods">
		UPDATE GOODS_TBL SET PRODUCT_NAME = #{productName }, PRODUCT_POINT = #{productPoint }, PRODUCT_CONTENT = #{productContent }, PRODUCT_THUMBNAIL = #{productThumbnail }, PRODUCT_THUMBNAIL_RENAME = #{productThumbnailRename }, PRODUCT_THUMBNAIL_PATH = #{productThumbnailPath }, PRODUCT_THUMBNAIL_LENGTH = #{productThumbnailLength }, 
		PRODUCT_IMAGE = #{productImage }, PRODUCT_IMAGE_RENAME = #{productImageRename }, PRODUCT_IMAGE_PATH = #{productImagePath }, PRODUCT_IMAGE_LENGTH = #{productImageLength }, PRODUCT_COUNT = #{productCount } WHERE PRODUCT_NO = #{productNo }
	</update>
	
	<delete id="deleteGoods">
		DELETE FROM GOODS_TBL WHERE PRODUCT_NO = #{productNo }
	</delete>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM GOODS_TBL
	</select>
	
	<select id="selectGoodsList" resultMap="goodsResultMap">
		SELECT * FROM GOODS_TBL WHERE PRODUCT_COUNT > 0
	</select>
	
	<select id="selectGoodsByNo" resultMap="goodsResultMap">
		SELECT * FROM GOODS_TBL WHERE PRODUCT_NO = ${productNo }
	</select>
	
	<select id="getGoodsListByUserId" resultMap="goodsResultMap">
	    SELECT *
	    FROM USER_TBL U
	    JOIN POINT_TBL P ON U.USER_ID = P.USER_ID
	    JOIN GOODS_TBL G ON P.PRODUCT_NO = G.PRODUCT_NO
	    WHERE U.USER_ID = #{userId }
	</select>
	
	<select id="adminGoodsList" resultMap="goodsResultMap"> 
 		SELECT * FROM GOODS_TBL 
 	</select> 
</mapper>