<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PointMapper">
	<resultMap type="point" id="pointResultMap">
		<id property="userId" column="USER_ID"/>
		<result property="userTotalPoint" column="USER_TOTAL_POINT"/>
		<result property="pointHistory" column="POINT_HISTORY"/>
		<result property="tradeType" column="TRADE_TYPE"/>
		<result property="pointHistoryDate" column="POINT_HISTORY_DATE"/>
		<result property="productNo" column="PRODUCT_NO"/>
		<result property="cBoardNo" column="C_BOARD_NO"/>
	</resultMap>
	
	<insert id="buyGoods">
		INSERT INTO POINT_TBL VALUES(#{userId }, #{userTotalPoint }, #{pointHistory }, 'use', DEFAULT, #{productNo }, NULL )
	</insert>

	<select id="getTotalPointByUserId" resultType="_int">
		SELECT USER_TOTAL_POINT
		FROM POINT_TBL 
		WHERE USER_ID = #{userId }
	</select>
	
	<insert id="insertRegisterPoint">
		INSERT INTO POINT_TBL VALUES(#{userId }, DEFAULT, DEFAULT, DEFAULT, DEFAULT, NULL, NULL )
	</insert>

	<select id="selectPointByUserId">
		SELECT * FROM(
    		SELECT * FROM POINT_TBL WHERE USER_ID = #{userId } ORDER BY POINT_HISTORY_DATE DESC
		)
		WHERE ROWNUM = 1
	</select>
</mapper>