<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.bluewave.user.domain.User" alias="User"/>
		<typeAlias type="com.kh.bluewave.user.domain.Sub" alias="Sub"/>
		<typeAlias type="com.kh.bluewave.challenge.domain.Challenge" alias="Challenge"/>
		<typeAlias type="com.kh.bluewave.challenge.domain.CBoard" alias="CBoard"/>
		<typeAlias type="com.kh.bluewave.challenge.domain.CLike" alias="CLike"/>
		<typeAlias type="com.kh.bluewave.goods.domain.Goods" alias="Goods"/>
		<typeAlias type="com.kh.bluewave.noticeBoard.domain.NoticeBoard" alias="notice"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/user-mapper.xml"/>
		<mapper resource="mappers/sub-mapper.xml"/>
		<mapper resource="mappers/challenge-mapper.xml"/>
		<mapper resource="mappers/c-board-mapper.xml" />
		<mapper resource="mappers/c-like-mapper.xml" />
		<mapper resource="mappers/goods-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
	</mappers>
</configuration>