@charset "UTF-8";

.notice-container {
	width: 70%;
	min-height: 100vh;
	height: 100%;
	margin: 0 auto;
	background-color: #F8F8F8;
}
.notice-subject {
	padding-top: 150px;
    width: 70%;
    margin: 0 auto;
}
.notice-table{
    width: 70%;
    margin: 0 auto;
}
    .notice-table td:last-child 
    , .notice-table td:nth-last-child(2)
    , .notice-table td:nth-last-child(3)
    , .notice-table td:first-child {
        width: 90px;
        height: 30px;
        text-align: center;
        
    }
    .notice-table th:last-child 
    , .notice-table th:nth-last-child(2)
    , .notice-table th:nth-last-child(3)
    , .notice-table th:first-child
    , .notice-paging {
    	text-align: center;
    }
    .notice-table th {
    	height: 40px;
    	border-radius: 3px;
    	border-top: 1px solid #ccc;
    	border-bottom: 2px solid #3881C5;
    	background-color: white;
    }
	 .notice-table td {
	 	height: 40px;
	 	border-bottom: 1px solid #ccc;
	 	background-color: white;
	 	border-radius: 3px;
	 }
 .notice-paging a
 , .notice-table a{
 	color: black;
 }