<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
	<resultMap type="User" id="userResultMap">
		<id		property="userId"  			 	column="USER_ID"/>
		<result property="userPw"  		 		column="USER_PW"/>
		<result property="userNickName"  	 	column="USER_NICKNAME"/>
		<result property="userName"   	 		column="USER_NAME"/>
		<result property="userPhone"    		column="USER_PHONE"/>
		<result property="userAddr"    	 		column="USER_ADDR"/>
		<result property="userEmail"   			column="USER_EMAIL"/>
		<result property="userProfileName"  	column="USER_PROFILE_NAME"/>
		<result property="userProfileRename"   	column="USER_PROFILE_RENAME"/>
		<result property="userProfilePath"		column="USER_PROFILE_PATH"/>
		<result property="userProfileLength" 	column="USER_PROFILE_LENGTH"/>
		<result property="userAd"    			column="USER_AD"/>
		<result property="userDate"    			column="USER_DATE"/>
	</resultMap>
	
	<delete id="deleteUser">
		DELETE FROM USER_TBL WHERE USER_ID = #{userId }
	</delete>
	
	<update id="updateUser">
		UPDATE USER_TBL SET USER_PW = #{userPw }, USER_NICKNAME = {#userNickName }, USER_PHONE = {#userPhone }, USER_ADDR = {#userAddr }, USER_EMAIL = #{userEmail }, USER_PROFILE_NAME = {#userProfileName }, USER_PROFILE_RENAME = {#userProfileRename }, USER_PROFILE_PATH = {#userProfilePath }, USER_PROFILE_LENGTH = {#userProfileLength }, USER_AD = #{userAd } 
	</update>
	
	<select id="checkUserLogin" resultMap="userResultMap">
		SELECT * FROM USER_TBL WHERE USER_ID = #{userId } AND USER_PW = #{userPw }
	</select>
	

</mapper>